<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean class="com.xworkz.developer.Developer" id="developer">
		<constructor-arg name="name" value="Ranjitha"></constructor-arg>
		<constructor-arg name="salary" value="5.5"></constructor-arg>
	</bean>

	<bean class="java.lang.String" id="s1">
    <constructor-arg value="Unluky"></constructor-arg>
    </bean>
    
		
	<bean class="java.lang.Integer" id="i1">
		<constructor-arg value="45"></constructor-arg>
    </bean>
    <bean class="java.lang.Double" id="d1">
		<constructor-arg value="45.55"></constructor-arg>
    </bean>
     <bean class="java.lang.Float" id="f1">
		<constructor-arg value="450.55"></constructor-arg>
    </bean>
    <bean class="java.lang.Long" id="l1">
		<constructor-arg value="8073721260"></constructor-arg>
    </bean>
    <bean class="java.lang.Boolean" id="b1">
		<constructor-arg value="true"></constructor-arg>
    </bean>
    <bean class="java.lang.Short" id="sh1">
		<constructor-arg value="60"></constructor-arg>
    </bean>
    <bean class="java.util.List" id="array1">
		<constructor-arg value=""></constructor-arg>
    </bean>
    

</beans>